body {
  font-family: Arial;
  text-align: center;
  margin-top: 100px;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
}

button {
  padding: 10px 20px;
  background: blue;
  color: white;
  border: none;
  border-radius: 5px;
}
